# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# macOS
.DS_Store

# Editor backups
*~

# Generated data
public/data/*
public/lines/
!public/data/character_sex.json

# Logs
*.log
