# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# macOS
.DS_Store

# Editor backups
*~

# Generated data
docs/data/*
docs/lines/
!docs/data/character_sex.json
!docs/data/characters.json

# Logs
*.log
